        body {
            margin: 0;
            background: #fffefe;
            font-family: Ubuntu;
        }
        
        .page {
            background: #fffefe;
            /* height: 100%; */
            padding: 32px 48px 0px 48px;
        }
        
        .header {
            display: flex;
            flex-direction: row;
            position: relative;
        }
        
        .title {
            font-size: 24px;
            font-weight: bold;
        }
        
        .theme {
            position: absolute;
            right: 0px;
        }
        
        .filter {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            justify-content: space-between;
        }
        
        .filter__order-number {
            left: 0px;
            background: mediumpurple;
        }
        
        .filter__button {
            background: mediumpurple;
            position: absolute;
            left: 300px;
        }
        
        .filter__loading {
            background: mediumpurple;
        }
        
        .order {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            height: 300px;
        }
        
        .order__header {
            background: mediumpurple;
        }
        
        .order__strings {
            height: 100%;
            background: plum;
        }
        
        .order__footer {
            background: mediumpurple;
        }
        
        .page__footer {
            position: absolute;
            background: mediumpurple;
            bottom: 10px;
            width: auto;
            right: 48px;
            left: 48px;
            height: 20px;
        }