._ {
    position: absolute;
    left:300px;
    top: 83%;
    display: none;
    flex-direction: column;
    background: var(--back);
    width: 160px;
    height: 112px;
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.Question {
    color: var(--main);
    margin: 8px;
}

.DeleteButton {
    display: flex;
    /* position: absolute; */
    /* right: 16px; */
    background: var(--main);
    border-radius: 4px;
    margin: 10px 10px 10px 10px; 
    color: var(--main);
    background: var(--back);
    border: none;
    height: 25px;
    width:80%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.CancelButton {
    display: flex;
    /* position: absolute; */
    /* right: 16px; */
    background: var(--main);
    border-radius: 4px;
    margin: 10px 10px 10px 10px; 
    color: var(--text);
    border: none;
    height: 25px;
    width:80%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}