._ {
    display: none;
    flex-direction: row;
    height: 50px;
    background: var(--text);
    border-radius: 8px;
}

.Date {
    padding-top: 3px;
    margin-left: 10px;
}

.DateBegin, .DateEnd{
    box-sizing: border-box;
    width: 130px;
    border: 1px solid var(--main);
    border-radius: 4px;
    height: 2em;
    background: var(--back);  
}

.Status {
    padding-top: 3px;
    padding-left: 20px;
}

.Select {
    width: 150px;
    box-sizing: border-box;
    border: 1px solid var(--main);
    border-radius: 4px;
    height: 2em;
    background: var(--back);  
}

.Sum {
    padding-top: 3px;
    padding-left: 20px;
}

.SumFrom  {
    box-sizing: border-box;
    width: 130px;
    border: 1px solid var(--main);
    border-radius: 4px;
    height: 2em;
    background: var(--back);  
}
.SumTo  {
    box-sizing: border-box;
    width: 130px;
    border: 1px solid var(--main);
    border-radius: 4px;
    height: 2em;
    background: var(--back);  
    margin-left: 5px;
}


.Apply {
    /* padding-left: 10px; */
}
.ApplyButton {
    padding-left: 20px;
    margin-top:0.25rem;

    background: var(--text);
    border-radius: 4px;
    color: var(--main);
    width: 95px;
    height: 2em;
    cursor: pointer;
    border: none;
}