.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background: var(--text);
    width: 100%;
    height: 35px;
}

.FooterForSelected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--main);
    margin-left: 10px;
}

.FooterForSelectedChangeButton {
    color: var(--text);
    background: var(--main);
    margin: 10px 20px 5px 20px;
    border: none;
    border-radius: 4px;
    height: 25px;
    width: 135px;
    cursor: pointer;
}

.FooterForSelectedDeleteButton {
    color: var(--text);
    background: var(--alert);
    margin: 10px 20px 5px 0px;
    border: none;
    border-radius: 4px;
    height: 25px;
    width: 100px;
    cursor: pointer;
}
.FooterPagination {
    color: var(--main);
    white-space: nowrap;
}