._ {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    background: var(--back);
    border-collapse: collapse;
    overflow: auto;
}

.headerGridSort {
    display: none;
}

._ thead th {
    font-weight: bold;
    text-align: left;
    padding: 10px 15px;
    background: var(--main);
    color: var(--buttonText);
}

.TableOrders {    
    overflow-y: auto;
}

._ tbody td {
    text-align: left;
    border-bottom: 1px solid var(--border-table);
    vertical-align: center;
}

.OrderTableRow {
    color: var(--tableText);
}
.OrderTableRow:hover {
    color: var(--tableText);
    background: var(--border-table);
}

