:root {
    --back: #fffefe;
    --border: #ddd;
    --text: #EBF0F5;
    --main: #459DF5;
    --tableFooter: mediumpurple;
    --alert: red;
}

body,
html {
    margin: 0;
    background: var(--back);
    font-family: Ubuntu;
    height: 100%;
    overflow: hidden;
}