   ._ {
       display: flex;
       flex-direction: column;
       flex-grow: 1;
       width: 100%;
       max-width: 100%;
       background: var(--back);
       border-collapse: collapse;
   }
   
   ._ thead th {
       font-weight: bold;
       text-align: left;
       padding: 10px 15px;
       background: var(--main);
       color: var(--text);
   }
   
   .Table1 {
       width: 100%;
   }
   
   ._ tbody td {
       text-align: left;
       padding: 10px 15px;
       border-bottom: 1px solid var(--border);
       vertical-align: top;
   }
   
   .Footer {
       display: none;
       background: var(--tableFooter);
       vertical-align: center;
       height: 40px;
   }